.content1,
.content2,
.content3,
.content4,
.content5{
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;

  @include mediaS{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
  }
  .content-title{
    font-size: 36px;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 90px;
  }
  .news-cards{
    display: flex;
    justify-content: space-between;

    @include mediaS{
      display: block;
    }

    .card{
      width: 28%;
      border: 1px solid rgb(59,69,75);
      @include mediaS{
        width: 100%;
        margin-top: 20px;
      }
      .card-image{
        width: 100%;
        img{
          object-fit: cover;
        }
      }
      .card-text{
        padding: 15px;
        .card-title{
          font-size: 1.25rem;
        }
        .card-introduction{
          margin-top: 10px;
          font-size: 1rem;
        }
      }
    }
  }
  .menu{
    width: 100%;
    min-height: 600px;
    background-color: rgba(255,255,255, 0.7);
    position: relative;
    .menu-img{
      position:absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
      z-index: -100;
      height: 600px;
    }
    .menu-content{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      .menu-area{
        display: flex;
        width: 100%;
        padding: 25px;
        justify-content: space-between;
        align-items: center;
        @include mediaXS{
          padding: 15px;
        }
        .menus{
          display: flex;
          align-items: center;
          width: 40%;
          justify-content: space-between;
          .menu-text{
            font-size: 1.25rem;
            @include mediaS{
              font-size: 0.875rem;
            }
            .sp{
              display: none;
              @include mediaXS{
                display: block;
              }
            }
          }
          .price{
            font-size: 1.25rem;
            @include mediaS{
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
  .contact-form{
    display: block;
    width: 50%;
    min-width: 600px;
    text-align: center;
    margin: 0 auto;
    @include mediaS{
      width: 100%;
      min-width: inherit;
    }
    textarea,
    input{
      padding: 5px;
      margin-top: 20px;
      width: 100%;
      background-color: #d9d9d9;
    }
    textarea{
      height: 300px;
    }
    .push{
      margin-top: 50px;
      background-color: #d9d9d9;
      width: 200px;
      p{
        padding: 10px 30px;
      }
    }
  }
  .access-content{
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    @include mediaS{
      display: block;
      width: 100%;
    }
  }
  .company-introduction{
    width: 50%;
    margin-right: 5%;
    @include mediaS{
      width: 96%;
      margin: auto;
    }
    .company-inform{
      vertical-align: top;
      display: flex;
      margin-top: 20px;
      // @include mediaM{
      //   display: block;
      //   text-align: center;
      //   margin: auto;
      //   margin-top: 15px;
      // }
      .title{
        text-align: right;
        font-size: 1.25rem;
        min-width: 120px;
        width: 120px;
        @include mediaM{
          text-align: left;
        }
      }
      .intro{
        text-align: left;
        font-size: 1.25rem;
      }
    }
  }
  iframe{
    height: auto;
    margin-left: 5%;
    @include mediaS{
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }
  }
}
.content5{
  @include mediaS{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  table{
    @include mediaS{
      margin-left: 2%;
      margin-right: 2%;
      width: 96%;
    }
  }
  iframe{
    width: 450px;
    height: 450px;
    @include mediaS{
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      height: auto;
      min-width: 400px;
      min-height: 400px;
      margin-top: 50px;
    }
  }
}