$black: #181818;
$black-light: #4B4B4B;
$black-highlight: #5F5958;

$blue-dark: #0253A0;
$blue:#0D50CE;
$blue-light: #40CAD1;
$blue-highlight: #E4F6F7;

$yellow: #FCF6AB;
$yellow-dark: #FFF100;

$purple:#9BAAFC;
$green: #4CDE95;
$orange: #F7C25F;

$red-dark: #CB3904;
$red: #F04242;
$red-light: #D64D6D;

$white: #ffffff;
$noto-serif: 'Noto Serif JP', sans-serif;
$default: 'Noto Sans JP', sans-serif,
apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
'Segoe UI',       /* Windowsの欧文 */
YuGothicM,        /* Windows8.1以上は游ゴシック */
YuGothic,         /* Macの游ゴシック */
Meiryo,           /* 游ゴシックが入っていないWindows */
"Yu Gothic Medium",
"ヒラギノ角ゴ Pro W3", sans-serif;

$m-plus: 'M PLUS Rounded 1c', sans-serif;

@mixin mediaXL($width-media: 1480px) {
  @media screen and (max-width: $width-media) {
    @content;
  }
}

@mixin mediaL($width-media: 1280px) {
  @media screen and (max-width: $width-media) {
    @content;
  }
}
@mixin mediaML($width-media: 1100px) {
  @media screen and (max-width: $width-media) {
    @content;
  }
}
@mixin mediaM($width-media: 992px) {
  @media screen and (max-width: $width-media) {
    @content;
  }
}
@mixin mediaS($width-media: 768px) {
  @media screen and (max-width: $width-media) {
    @content;
  }
}
@mixin mediaXS($width-media: 576px) {
  @media screen and (max-width: $width-media) {
    @content;
  }
}
@mixin mediaPHONE($width-media: 480px) {
  @media screen and (max-width: $width-media) {
    @content;
  }
}